.menu_food{
    width:80%;
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.menu_flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 800px){
    .menu_food{
        width:90%;
        grid-gap: 20px;
        grid-template-columns: auto;
    }
}